<header class="header">
    <div class="header__body">
        
        <div class="header__body--title">
            <a href="index.html">
            <img src="/assets/img/logo.png" alt="digitalproject"/>
            <!-- <h6>DIGITAL PROJECT</h4> -->
            </a>
        </div>
        
        <nav class="header__body--nav">
            <ul class="header__body--items">
                <li class="header__body--item"><a href="selectLanch.html">selectLanch</a></li>
                <li class="header__body--item"><a href="searchLanch.html">serchLanch</a></li>
                <li class="header__body--item"><a href="registerselection.html">registerselection</a></li>
                <li class="header__body--item"><a href="howtouse.html">howtouse</a></li>
            </ul>
        </nav>
    </div>
</header>