.header {
    width: 100%;
    height: 102px;
    top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    /* 横幅って基本100%にしたほうがいいのかな*/
    position: fixed;
}

.header__body {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &--title {

        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

.header__body--title {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__body--nav {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__body--items {
    width: 100%;
    height: 100%;
    margin: 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__body--item {
    margin: 0;
}