<footer class="footer">
    <div class="container">
    <div class="footer__head">
        <img src="/assets/img/img11.png" />
        <h6>
            DIGITAL PROJECT
        </h6>
    </div>
    <div class="footer__information">
        <h3>
            information
        </h3>
        <!-- ここってdivで括ったほうがいいのかな？ -->
         <ul>
            <li>Main</li>
            <li>Gallery</li>
            <li>Projects</li>
            <li>Certifications</li>
            <li>Contacts</li>
         </ul>
    </div>
    <div class="footer__Contacts">

    </div>
    <div class="footer__foot">
        <!-- <h3>
            Social Media
        </h3> -->
        <!-- 機械的にはnavとかで明示するといい -->
        <nav>
            <!-- <ul class="SocialLogo">
                <li>facebook</li>
                <li>tweeter</li>
                <li>instagram</li>
                <li>pinterest</li>
            </ul> -->
            <img src="/assets/img/img12.png"/>
        </nav>
    </div>

</div>
</footer>