<header class="header">
    <div class="header__body">
        <div class="header__body--title">
            <img src="/assets/img/DIGITALPROJECT.png" alt="digitalproject"/>
            <h6>DIGITAL PROJECT</h4>
        </div>
        <nav class="header__body--nav">
            <ul class="header__body--items">
                <li class="header__body--item">MAIN</li>
                <li class="header__body--item">GALLERY</li>
                <li class="header__body--item">PROJECTS</li>
                <li class="header__body--item">CERTIFICATIONS</li>
                <li class="header__body--item">CONTACTS</li>
            </ul>
        </nav>
    </div>
</header>